services:
  - type: web
    name: telegram-bot
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false